


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:#0d4985;

}

.countdown {
    padding:75px 3% 0;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.image {
    max-width: 540px;
    max-height: 380px;
}

.image img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    padding-left: 15px;
}

.content {
    max-width: 570px;
    margin-right: 25px;
    width: 100%;
}

.content h1 {
    color:  #4b89b5;
    text-transform: uppercase;
    padding-bottom: 5px;
    word-spacing: 2px;
    letter-spacing: 3px;
    
}

.content h3 {
    word-spacing: 2px;
    line-height: 1.25;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

.content p {
    word-spacing: 1x;
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 17px;
    color: #6db1f1;
}

.timer {
    display: flex;
    padding-right: 130px;
    justify-content: space-between;
}

.sub-timer {
    background-color: #063251;
    color: #fff;
    padding: 10px;
    height: 78px;
    width: 78px;
    border-radius: 5px;
}

.sub-timer h1 {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    line-height: 8px;
    padding-bottom: 15px;
}

.sub-timer p {
    text-align: center;
    font-size: 13px;
    color: #fff;
}

@media screen and (max-width: 1230px) {
    .image {
        padding-right:40px ;
        max-width: 480px;
     }

     .content .h1{
        font-size: 33px; 
        width: 550px;
    }
}

@media screen and (max-width: 1089px) {
    .image {
        padding-right:38px ;
        max-width: 470px;
     }

     .content .h1{
        font-size: 33px; 
        width: 550px;
    }
}

@media screen and (max-width: 1070px) {
    .image {
        padding-right:40px ;
        max-width: 460px;
     }

     .content .h1{
        font-size: 29px; 
        width: 460px;
    }
}

@media screen and (max-width: 1058px) {
    .image {
        padding-right:40px ;
        max-width: 460px;
     }

     .content .h1{
        font-size: 29px; 
        width: 460px;
    }
}

@media screen and (max-width: 1058px) {
    .image {
        padding-right:40px ;
     }

     .content .h1{
        font-size: 29px; 
        width: 460px;
    }
}


@media screen and (max-width: 1048px) {
    .image {
        padding-right:30px ;
     }

     .content .h1{
        font-size: 29px; 
        width: 480px;
    }
}

@media screen and (max-width: 1024px) {
     .image {
        padding-right:20px ;
     }

     .content {
        max-width: 900px;
        width: 100%;
    }

     .content .h1{
        font-size: 29px; 
        width: 500px;
    }

}

@media screen and (max-width: 991px) {
    .content {
        max-width: 700px;
        width: 100%;
    }

   .content h1 {
    font-size: 27px;
   }

}

@media screen and (max-width: 991px) {
    .content {
        max-width: 460px;
        width: 100%;
    }

   .content h1 {
    font-size: 27px;
   }

}

@media screen and (max-width: 915px) {
    .content {
        max-width: 800px;
        width: 100%;
        justify-content: center;
        margin-left: 30px;
    }

}


@media screen and (max-width: 896px) {
    .countdown {
        flex-direction: column;
    }

    .content {
        max-width: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  
    .image {
        padding-bottom: 30px;
    }


    
}

@media screen and (max-width: 879px) {
    .content {
        max-width: 680px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 780px) {
    .content {
        max-width: 660px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 655px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 740px) {
    .content {
        max-width: 645px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 730px) {
    .content {
        max-width: 630px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .content .h1 {
        font-size: 26px;
    }
}

@media screen and (max-width: 715px) {
    .content {
        max-width: 615px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .content {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 685px) {
    .content {
        max-width: 590px;
        width: 100%;
    }
}

@media screen and (max-width: 675px) {
    .content {
        max-width: 580px;
        width: 100%;
    }
}

@media screen and (max-width: 660px) {
    .content {
        max-width:560px;
        width: 100%;
    }

    .timer {
        margin-left: 10px;
    }

    .sub-timer{
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 650px) {
    .content {
        max-width: 545px;
        width: 100%;
    }

    .timer {
        margin-left: 10px;
    }

}

@media screen and (max-width: 630px) {
    .content {
        max-width: 530px;
        width: 100%;
    }

}

@media screen and (max-width: 615px) {
    .content {
        max-width: 520px;
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .content {
        max-width: 500px;
        width: 100%;
    }

}

@media screen and (max-width: 580px) {
    .content {
        max-width: 490px;
        width: 100%;
    }

    .timer {
        margin-left: 12px;
    }

    .sub-timer {
    justify-content: space-evenly;
    margin-left: 30px;
    }

}

@media screen and (max-width: 560px) {
    .content {
        max-width: 475px;
        width: 100%;
    }

}

@media screen and (max-width: 540px) {
    .content {
        max-width: 465px;
        width: 100%;
    }

}

@media screen and (max-width: 510px) {
    .content {
        max-width: 430px;
        width: 100%;
    }

}


